main {
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;

}

section{
    width: 100%; 
    max-width: 1260px;
}

.hero-img-container {
  height: 400px;
  overflow: hidden;
  display: grid;
  place-content: center;
  border-radius: 1.5rem;
}

.hero-img {
    width: 100%;
}
@media (max-width: 900px) {
    .hero-img-container{
        display: none;
    }
}